<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">Aliados y colaboradores</h1>
     <section class="section section-title-topbar">
          <p class="has-text-centered is-size-4 has-text-link has-text-weight-bold">
               Conoce a las empresas que apoyan a Vida Renal
          </p>
          <div class="section last-section">
               <div class="columns">
                    <div class="column is-6">
                         <figure class="image is-16by9 queHacemos-img">
                              <img src="https://cdn-statics.hotsale.com.mx/uploads/marcas/1062/farmacia-san-pablo_1555452319.png" style="object-fit: contain;">
                         </figure>
                    </div>
                    <div class="column is-6">
                         <figure class="image is-16by9 queHacemos-img">
                              <img src="https://logo-logos.com/wp-content/uploads/2016/10/Bayer_logo_logotype.png"  style="object-fit: contain;">
                         </figure>
                    </div>
               </div>
               <div class="columns">
                    <div class="column is-6">
                         <figure class="image is-16by9 queHacemos-img">
                              <img src="https://pbs.twimg.com/profile_images/772538466806620160/hK4Zv8hA_400x400.jpg"  style="object-fit: contain;">
                         </figure>
                    </div>
                    <div class="column is-6">
                         <figure class="image is-16by9 queHacemos-img">
                              <img src="https://lh3.googleusercontent.com/2QB4YTsqPXFGDfcKsBCtgXDvkgAd9zeANrFRuzHQZ2hWAYYBEuZ4YA8YkCAVBJ8Q_2lNKIWeyhK6YFch=w768-h768-n-o-v1"  style="object-fit: contain;">
                         </figure>
                    </div>
               </div>
          </div>
     </section>
</div>
