<div class="container">
	<h1 class="title section is-2 has-text-info section-title has-text-centered">
		¿Cómo puedes ayudarnos?
	</h1>
	<section class="section">
		<h2 class="title has-text-centered is-3 has-text-link has-text-weight-bold">
			¡Quiero ayudar!
		</h2>
		<form action="">
			<div class="container">
				<div class="field" style="display: flex; justify-content: center; align-items: center;">
					<label class="label" style="width: 10%;">
						Banco:
					</label>
					<div class="control" style="width: 70%;">
						<input class="input is-info" type="text">
					</div>
				</div>
				<div class="field" style="display: flex; justify-content: center; align-items: center;">
					<label class="label" style="width: 10%;">
						Tipo de cuenta:
					</label>
					<div class="control" style="width: 70%;">
						<input class="input is-info" type="text">
					</div>
				</div>
				<div class="field" style="display: flex; justify-content: center; align-items: center;">
					<label class="label" style="width: 10%;">
						Clave interbancaria:
					</label>
					<div class="control" style="width: 70%;">
						<input class="input is-info" type="text">
					</div>
				</div>
				<div class="field" style="display: flex; justify-content: center; align-items: center;">
					<label class="label" style="width: 10%;">
						Sucursal:
					</label>
					<div class="control" style="width: 70%;">
						<input class="input is-info" type="text">
					</div>
				</div>
				<div class="field" style="display: flex; justify-content: center; align-items: center;">
					<label class="label" style="width: 10%;">
						Nombre:
					</label>
					<div class="control" style="width: 70%;">
						<input class="input is-info" type="text">
					</div>
				</div>
			</div>
		</form>
	</section>
</div>
