<div class="container">
  <h1 class="title section is-2 has-text-info section-title has-text-centered">
    ¿Cómo puedes ayudarnos?
  </h1>
  <section class="section">
    <h2 class="title has-text-centered is-3 has-text-link has-text-weight-bold">
      ¡Quiero ayudar!
    </h2>
  </section>
</div>
