<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">Preguntas frecuentes</h1>
     <section class="section section-title-topbar">
          <div class="columns has-text-centered">
               <div class="column is-12 center">
                    <div class="conoce-column has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿Cómo puedo ayudar?
                    </div>
               </div>
          </div>
          <div class="columns">
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿En qué consiste la atención médica integral de FVR?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿Cómo puedo ser parte de FVR?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿FVR me ayuda a conseguir un transplante?
                    </div>
               </div>
          </div>
          <div class="columns">
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿FVR me brinda o me canaliza con alguna institución para conseguir algún apoyo económico?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿Qué tipo de atención recibiré de FVR?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         Si no puedo ayudar económicamente a FVR ¿De qué manera puedo?
                    </div>
               </div>
          </div>
          <div class="columns">
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿En qué consiste la atención médica integral FVR?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿Qué pasa si FVR no puede brindarme la ayuda que requiero?
                    </div>
               </div>
               <div class="column is-4">
                    <div class="has-background-info has-text-white is-size-5 has-text-weight-semibold has-text-centered center" style="padding: 2rem 0; height: 100%; border: 3px solid #fff">
                         ¿Cómo puedo consultar en qué se destinaron los recursos de la fundación?
                    </div>
               </div>
          </div>
          <div class="columns has-text-centered">
               <div class="column is-12 center">
                    <div class="conoce-column">
                         <figure class="image is-16by9 queHacemos-img">
                              <img src="{{ base_url() }}{{ asset('/public/img/preguntas.jpg') }}" class="zoom">
                         </figure>
                    </div>
               </div>
          </div>
     </section>
</div>
