<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		Transparencia
	</h1>
	<section class="section section-title-topbar">
		<h2 class="title is-4 has-green-text last-section">
			Ingresos de Fundación Vida Renal - {{ 'now' | date('m') }} / {{ 'now' | date('Y') }}
		</h2>

		<div class="columns" style="margin-top: 1.5rem;">
			<div class="column is-7 center">
				<div style="width: 25rem;">
					<canvas id="myChart" width="200" height="200"></canvas>
				</div>
			</div>
			<div class="column is-4 center" style="justify-content: start; margin-top: 2rem;">
				<table class="table is-bordered is-striped is-fullwidth">
					<thead>
						<tr>
							<th>Tipo de donador</th>
							<th>Porcentaje</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Donador Persona fisica</td>
							<td id="porcentaje_fisica">0%</td>
						</tr>
						<tr>
							<td>Donador empresas</td>
							<td id="porcentaje_empresas">0%</td>
						</tr>
						<tr>
							<td>Donador Anónimo</td>
							<td id="porcentaje_anonimo">0%</td>
						</tr>
						<tr>
							<td>Donador en Especie</td>
							<td id="porcentaje_especie">0%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<h2 class="title is-4 has-green-text last-section" style="margin-top: 3rem;">
			Egresos de Fundación Vida Renal - {{ 'now' | date('m') }} / {{ 'now' | date('Y') }}
		</h2>
		<table class="table is-bordered is-striped is-fullwidth">
			<thead>
				<tr>
					<th>Consultas médicas</th>
					<th>Talleres</th>
					<th>Insumos</th>
					<th>Gastos fijos</th>
					<th>Medicamentos</th>
					<th>Laboratorios</th>
					<th>Conferencias</th>
					<th>Sueldos</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>30%</td>
					<td>15%</td>
					<td>5%</td>
					<td>5%</td>
					<td>15%</td>
					<td>15%</td>
					<td>10%</td>
					<td>5%</td>
					<td>100%</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
