<div class="container">
     <h1 class="title is-2 has-text-info section-title has-text-centered">Transparencia</h1>
     <section class="section">
        
     </section>
     <section class="section">
          
     </section>
</div>
