// Blog //
.blog {
	&-box {
		width: 100%;
		cursor: pointer;
	}
	&-text {
		word-break: break-word;
		opacity: 0.8;
	}
	&-img {
		height: auto !important;
		& img {
			height: 65px;
			border-radius: 3px;
		}
	}
}
