<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Causas principales
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/causasInfobg.jpg" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			La diabetes es la causa más común de la Enfermedad Renal En Etapa Terminal. La presión arterial alta es la segunda causa más común de la Enfermedad Renal En Etapa Terminal.  Otros problemas que pueden causar falla renal pueden incluir:
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8; margin-left: 1rem;">
			&#9679; Las enfermedades autoinmunes, como el lupus y la nefropatía inmunoglobulina (IgA) </br>
			&#9679; Enfermedades genéticas (naces con ellas) tales como la enfermedad renal poliquística </br>
			&#9679; Síndrome nefrótico </br>
			&#9679; Problemas de vías urinarias
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Algunas veces los riñones pueden dejar funcionar  de repente (a menos de dos días). Este tipo de falla renal es llamado falla renal aguda o insuficiencia renal aguda.  Las causas más comunes de la falla renal aguda incluyen:
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8; margin-left: 1rem;">
			&#9679; Ataque de corazón </br>
			&#9679; El uso ilegal de drogas y el abuso de drogas </br>
			&#9679; No hay suficiente flujo de sangre a los riñones </br>
			&#9679; Problemas de las vías urinarias
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Este tipo de falla renal no siempre es permanente.  Tus riñones pueden regresar a su función normal o casi normal con tratamiento y si tiene otro problema de salud serio.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Tener uno de los problemas de salud que pueden conducir a la falla renal no quiere decir que tendrás falla renal permanente.  Vivir una vida saludable y trabajando con tu médico te puede ayudar a controlar estos problemas de salud y puede ayudar que tus riñones funcionen lo más largo posible.
		</p>
	</section>
</div>
