<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		El costo de un enfermo renal
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/costosInfobg.png" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Según el Instituto Mexicano de la Seguridad Social (IMSS) esto basado en información del 2014, el 15 por ciento de su gasto anual fue representado por el tratamiento de Enfermedades Renales Crónicas Terminales. Aproximadamente $13,250 millones de pesos (gasto invertido, solo en el 0.8 por ciento de derechohabientes).
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Según proyecciones del IMSS, basados en pacientes en tratamientos  y los costos médicos, se hacen la siguiente estimación para el año 2050:
		</p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			* Se incrementa 20 veces más el gasto al tratamiento de la Enfermedad Renal Crónica Terminal con relación al gasto del año 2010.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Según el Gobierno de México, las enfermedades renales representan un alto costo financiero para el ISSSTE, en promedio el ISSSTE tiene un gasto mensual de hasta $35,000.00 pesos por paciente únicamente en terapias renales.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Considerando estos costos a personas que cuentan con un seguro médico, considerando que pueden existir precios bastante bajos o que el mismo seguro solucione todo el tratamiento para el paciente. Pero qué pasa con las personas que no cuentan con un seguro, esas personas son las que gastan aproximadamente 500-600 pesos al día. 
		</p>
	</section>
</div>
