<div class="container">
    <h1 class="title is-2 has-text-info section-title has-text-centered">Insuficiencia Renal Crónica</h1>
    <section class="section section-title-topbar">
        info
    </section>
</div>