<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Insuficiencia Renal Crónica
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/IRCinfobg.jpg" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			La falla renal, también llamada Enfermedad Renal de Etapa Terminal (ERET), es la última etapa de la enfermedad renal crónica. Cuando tus riñones fallan, esto quiere decir que han parado de trabajar suficiente para sobrevivir sin el tratamiento de diálisis o un trasplante de riñón.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			En la mayoría de casos, la falla renal es causada por problemas de salud que han hecho daño permanente a tus riñones poco a poco, por paso del tiempo.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Cuando tus riñones están dañados, pueden dejar de trabajar como deberían.  Si el daño a tus riñones continúa a empeorar y tus riñones son cada vez menos  eficientes a hacer su trabajo, tú tienes enfermedad renal crónica.  Falla renal es la última etapa (la más severa) de la enfermedad renal crónica.  Por esta razón, la falla renal es llamada enfermedad renal de etapa termina, o ERET.
		</p>
	</section>
</div>
