<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		¿Qué hacen nuestros riñones?
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/queHacenNuestrosbg.jpg" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Cada uno de nuestros riñones es un órgano con forma de frijol del tamaño de su puño. Están ubicados hacia el medio de la espalda, justo debajo
			de las costillas. Realizan el trabajo de eliminar del cuerpo los desechos y el agua sobrante. Los desechos y el agua sobrante se transforman en
			orina, la cual es almacenada en la vejiga hasta que vamos al baño.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Además de eliminar desechos, los riñones liberan hormonas que contribuyen a la producción de glóbulos rojos y al control de la presión arterial, y que mantienen el balance de calcio en el cuerpo.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			El trabajo que realizan nuestros riñones se llama función renal. Si nuestros dos riñones están sanos, se tiene una función renal del 100 por ciento.
			Esto es más de lo que en realidad necesita. Algunas personas nacen con un solo riñón y sin embargo llevan una vida normal y sana. Muchas
			personas donan uno de sus riñones a un familiar o a un amigo que necesita un trasplante. En realidad, usted puede estar sano con el 50 por ciento
			de su función renal, si esta permanece estable.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Si tiene menos del 20 por ciento de su función renal, tendrá graves problemas de salud. Y si su función renal disminuye por debajo de 15 por
			ciento, usted necesitará de un tratamiento especializado.
		</p>
	</section>
</div>
