<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Sintomas
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/sintomasInfobg.png" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			La enfermedad renal crónica usualmente se deteriora muy lentamente, y puede ser que los síntomas no se presentan hasta que los riñones están muy dañados.  En la etapa terminal de la enfermedad renal, cuando está cerca de la falla renal, puedes notar algunos síntomas que son causados por la acumulación de desechos y líquido extra en tu cuerpo.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Puede ser que notes uno o más de uno de los siguientes síntomas si tus riñones empiezan a fallar:
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8; margin-left: 1rem;">
			&#9679; Comezón </br>
			&#9679; Calambres musculares </br>
			&#9679; Náuseas o vómitos </br>
			&#9679; No sentir hambre </br>
			&#9679; Hinchazón de los pies y tobillos </br>
			&#9679; Exceso de orinar o no orinar suficiente </br>
			&#9679; Dificultad para respirar </br>
			&#9679; Problemas para dormir </br>
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Si tus riñones dejan de trabajar de repente (falla renal aguda), puede que notes uno o más de los siguientes síntomas:
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8; margin-left: 1rem;">
			&#9679; Dolor abdominal (del vientre) </br>
			&#9679; Dolor de espalda </br>
			&#9679; Diarrea </br>
			&#9679; Fiebre </br>
			&#9679; Hemorragias de nariz </br>
			&#9679; Erupción </br>
			&#9679; Dificultad para respirar </br>
			&#9679; Vómitos </br>
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Tener uno o más de estos síntomas puede ser un signo de un problema importante de los riñones.  Si notas cualquier de estos síntomas, deberías hablar con un médico inmediatamente.
		</p>
	</section>
</div>
