<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Trastorno y núcleo familiar
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/transtornosInfobg.jpg" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			El núcleo familiar es lo que primero se ve afectado al momento de ser detectado con una enfermedad renal, ya que ocasiona en el paciente visualice su vida desde un punto de vista diferente, ocasionando algunas veces agresión, por la impotencia que genera el conocer esta noticia. Otras veces aleja a la misma familia por no quererlos involucrar en el proceso de la enfermedad. Generando una ruptura en el núcleo familiar. 
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			En un estudio que contó con una participación de 52% de hombres y 48% de mujeres de edades entre 17-82 años reveló que 81% de los pacientes recibieron ayuda de un familiar directo, el 4% de un familiar lejano y el 15% no recibió apoyo alguno. En donde el 41% presentó una disfunción familiar severa.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			El estudio reveló un patrón similar entre estos pacientes, presentando un nivel educativo bajo y una situación económica deficiente, generando esto mayor frustración y mayor tendencia a los conflictos familiares generando a los pacientes/enfermos depresión, hostilidad, alejamiento familiar y estrés, generado por la situación económica, 
		</p>
		<p style="height: 1rem;"></p>
	</section>
</div>
