<div class="container">
	<h1 class="title is-3 has-text-info section-title has-text-centered">
		Tratamientos
	</h1>
	<section class="section section-title-topbar" style="text-align: justify !important;">
		<div class="columns center">
			<div class="column is-12 conoce-column">
				<figure class="image is-16by9 queHacemos-img center-image">
					<img src="{{ base_url() }}/public/img/tratamientosInfobg.jpg" class="zoom">
				</figure>
			</div>
		</div>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Si tienes Enfermedad Renal en Etapa Terminal, necesitarás recibir el tratamiento de diálisis o un trasplante de riñón para sobrevivir.  No hay una cura para el Enfermedad Renal en Etapa Terminal, pero hay muchas personas viviendo vidas largas mientras recibiendo tratamiento de diálisis o después de recibir un trasplante de riñón.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8;">
			Hay muchas opciones para tratar la falla renal, incluyendo un trasplante y varios tipos de diálisis.  Tu médico puede ayudarte a decidir cuál tratamiento es el mejor para tu situación, a continuación te explicamos en qué consiste cada tratamiento.
		</p>
		<p style="height: 1rem;"></p>
		<p class="is-size-6" style="color: #333; opacity: 0.8; margin-left: 1rem;">
			&#9679; Hemodiálisis: Este tipo de tratamiento usa una máquina para eliminar sustancias tóxicas de tu sangre, y puede ser hecho en un centro de diálisis o en tu casa. </br>
			&#9679; Diálisis Peritoneal: La diálisis peritoneal es un tratamiento que utiliza el revestimiento del abdomen (área del vientre) llamado el peritoneo y una solución especializada para eliminar sustancias tóxicas de tu sangre.  La diálisis peritoneal puede ser llevada a cabo en casa. </br>
			&#9679; Trasplante de riñón: Un trasplante de riñón es una cirugía que te puede dar un riñón saludable. Un trasplante de riñón puede venir de un donante vivo (usualmente un conocido) o de un donante fallecido.  El riñón saludable puede hacer las funciones que los riñones hacían cuando estaban saludables </br>
			&#9679; Problemas de vías urinarias
		</p>
		<p style="height: 1rem;"></p>
	</section>
</div>
