<div class="container">
	<h1 class="title is-2 has-text-info section-title has-text-centered">
		Tu salud, tus riñones
	</h1>
	<section class="section section-title-topbar">
		<p>
			Para tener una buena salud, es necesario un equilibrio entre una adecuada nutrición, ejercicio íisico, descanso suciente y prevenir factores de riesgo con chequeos medicos períodicos que ayuden a conocer el estado de salud de cada uno.
		</p>
		<p>
			El estilo de vida inuye bastante en el desarrollo de padecimientos cardiacos y renales. Dentro de estos últimos el alto consumo de ázucar, sal y grasas puede comprometer la salud desde la etapa infantil hasta la adulta.
		</p>
		<p>
			De acuerdo con la Encuesta Nacional de Salud y Nutrición realizada en 2012 y los criterios de la OMS en México  la prevalencia de sobrepeso en niños de 5 a 11 años es del 19% en varones y del 20% en mujeres y de obesidad del 17% varones y 11% respectivamente. En jovenes de 12 a 19 años el nivel de sobrepeso fue del 19% en hombres y de 23% en mujeres. mientras que en obesidad fueron de 14% y 12% respectivamente.
		</p>

		<p>
			Para los adultos el porcentaje de sobrepeso fue de 45% en el sexo masculino y de 35% en el femenino, teniendo en obesidad un 26% hombres y 37% mujeres.
		</P>
	</section>
</div>
