// Base //
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Lato', sans-serif;
	background: #fafafa;
	overflow: hidden;
	@media screen and (max-width: 768px) {
		overflow: hidden;
	}
}
i {
	margin-right: 1rem;
}
img {
	object-fit: cover;
}
a {
	color: $darken_blue_color;
	font-weight: 900;
	&:hover {
		color: $normal_blue_color;
	}
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.17rem;
}
h4 {
	font-size: 1.1rem;
}
input:focus {
	box-shadow: none;
	outline: none;
	border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
