// Variables //
$normal_blue_color: #944689;
$lighten_blue_color: #b457a8;
$darken_blue_color: #753a6d;

$normal_green_color: #93BB49;
$lighten_green_color: rgb(167, 212, 83);
$darken_green_color: rgb(133, 168, 66);

$normal_yellor_color: #fbc02d;
