<div class="container main-admin">
	<h1 class="title is-2 has-text-info section section-title has-text-centered">
		Modulos
	</h1>
	{% if mensajes.done|length > 0 %}
		<div class="notification is-primary" id="message">
			<button class="delete"></button>
			{{ mensajes.done[0] }}
		</div>
	{% endif %}
	{% if mensajes.error|length > 0 %}
		<div class="notification is-danger" id="message">
			<button class="delete"></button>
			{{ mensajes.error[0] }}
		</div>
	{% endif %}
	{# Actividades #}
	<div class="columns admin-column">
		<div class="column is-3 center">
			<a href="/admin/actividades">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-clipboard is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Actividades
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Eventos #}
		<div class="column is-3 center">
			<a href="/admin/eventos">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-calendar-alt is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Eventos
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Talleres #}
		<div class="column is-3 center">
			<a href="/admin/talleres">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-praying-hands is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Talleres
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Talleres #}
		<div class="column is-3 center">
			<a href="/admin/testimonios">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-users is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Testimonios
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Servicios #}
		<div class="column is-3 center">
			<a href="/admin/servicios">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-hands-helping is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Servicios
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Blog #}
		<div class="column is-3 center">
			<a href="/admin/blog">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-blog is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Blog
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Tidio #}
		<div class="column is-3 center">
			<a href="https://www.tidio.com/panel/dashboard" target="_blank">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-comments is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">
									Mensajes
								</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<h2 class="title is-2 has-text-info section section-title has-text-centered">
		Video principal
	</h2>
	<div class="columns admin-column">
		<div class="column is-12">
			<form action="/video-principal" method="POST" enctype="multipart/form-data" class="center">
				<div class="field">
					<div class="file has-name" id="fileJs">
						<label class="file-label" for="file">
							<input class="file-input" type="file" name="video" id="file">
							<span class="file-cta">
								<span class="file-icon">
									<i class="fas fa-upload"></i>
								</span>
								<span class="file-label has-background-light">
									Video principal:
								</span>
							</span>
							<span class="file-name has-background-white">
								Video no seleccionado.
							</span>
						</label>
					</div>
				</div>
				<button class="button is-info" type="submit">Guardar</button>
			</form>
		</div>
		<div class="column is-6"></div>
	</div>
</div>
