<div class="container main-admin">
	<h1 class="title is-2 has-text-info section section-title has-text-centered">
		Modulos
	</h1>
	{# Actividades #}
	<div class="columns admin-column">
		<div class="column is-3 center">
			<a href="/admin/actividades">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-clipboard is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Actividades</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Eventos #}
		<div class="column is-3 center">
			<a href="/admin/eventos">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-calendar-alt is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Eventos</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Talleres #}
		<div class="column is-3 center">
			<a href="/admin/talleres">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-praying-hands is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Talleres</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Talleres #}
		<div class="column is-3 center">
			<a href="/admin/testimonios">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-users is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Testimonios</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Blog #}
		<div class="column is-3 center">
			<a href="/admin/blog">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-blog is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Blog</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
		{# Tidio #}
		<div class="column is-3 center">
			<a href="https://www.tidio.com/panel/dashboard" target="_blank">
				<div class="card admin-cards">
					<div class="card-image center admin-cards__img">
						<i class="fas fa-comments is-size-1"></i>
					</div>
					<div class="card-content">
						<div class="media">
							<div class="media-content">
								<p class="title is-4 has-text-centered">Mensajes</p>
							</div>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
</div>
