<div class="container">
    <div id="toolbar-container"></div>

    <div id="editor" class="has-background-white" style="border: 1px solid #ddd;">
        <p>Nueva entrada de blog</p>
    </div>
</div>