<footer
  class="footer footer has-background-dark"
  style="bottom: -2rem; position: relative; padding: 1rem 0;"
>
  <p class="has-text-white has-text-centered is-fullwidth">Vida Renal</p>
</footer>
