<header class="header">
	<nav class="is-link navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="container container-100">
			<div class="navbar-brand is-marginless">
				<h1 class="navbar-item has-text-weight-bold is-uppercase">
					<a href="/admin" class="has-text-white">
						Panel de administrador
					</a>
				</h1>
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="navbar-btn">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbar" class="navbar-menu navbar-admin is-flex">
				<div class="navbar-start navbar-list">
					<a class="navbar-item" href="/admin">
						Inicio
					</a>
					<a class="navbar-item" href="/admin/actividades" id="actividades">
						Actividades
					</a>
					<a class="navbar-item" href="/admin/eventos">
						Eventos
					</a>
					<a class="navbar-item" href="/admin/talleres">
						Talleres
					</a>
					<a class="navbar-item" href="/admin/testimonios">
						Testimonios
					</a>
					<a class="navbar-item" href="/admin/servicios">
						Servicios
					</a>
					<a class="navbar-item" href="/admin/servicios">
						Transparencia
					</a>
					<a class="navbar-item" href="/admin/blog">
						Blog
					</a>
					<a class="navbar-item tooltip" href="/admin/logoutUser" data-tippy-content="Cerrar sesión">
						<i class="fas fa-sign-out-alt" style="opacity: .8"></i>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>
