<header class="header">
  <nav
    class="is-info navbar is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="container container-100">
      <div class="navbar-brand is-marginless">
        <h1
          class="navbar-item has-text-weight-bold is-uppercase"
        >
          <a href="/admin" class="has-text-white">Panel de administrador</a>
        </h1>
        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
          id="navbar-btn"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu navbar-admin is-flex">
        <div class="navbar-start navbar-list">
          <a class="navbar-item" href="/admin">
            Inicio
          </a>

          <a class="navbar-item" href="/admin/actividades">
            Actividades
          </a>

          <a class="navbar-item" href="/admin/eventos">
            Eventos
          </a>

          <a class="navbar-item" href="/admin/talleres">
            Talleres
          </a>
          <a class="navbar-item" href="/admin/blog">
            Blog
          </a>

          <a class="navbar-item" href="/admin/logoutUser">
            Cerrar Sesion
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
