<header class="header">
	<nav class="is-info navbar is-fixed-top" role="navigation" aria-label="main navigation">
		<div class="container container-100 center">
			<div class="navbar-brand is-marginless center">
				<h1 class="navbar-item has-text-weight-bold is-uppercase">
					<a href="/admin" class="has-text-white">
						Panel de administrador
					</a>
				</h1>
			</div>
		</div>
	</nav>
</header>
