<div class="container main-admin">
	<h1 class="title is-2 section has-text-info section-title has-text-centered">
		Transparencia
	</h1>
	<div class="columns">
		<div class="column is-8">
			<table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Número de donador</th>
                        <th>Nombre</th>
                        <th>Tipo de donador</th>
                        <th>Cantidad</th>
                        <th>Especie</th>
                        <th>Monto aproximado de lo donado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donador Persona fisica</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador empresas</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador Anónimo</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador en Especie</td>
                        <td>0%</td>
                    </tr>
                </tbody>
            </table>
		</div>
        <div class="column is-3 is-offset-1">
			<table class="table is-bordered is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Tipo de donador</th>
                        <th>Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Donador Persona fisica</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador empresas</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador Anónimo</td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <td>Donador en Especie</td>
                        <td>0%</td>
                    </tr>
                </tbody>
            </table>
		</div>
    </div>
</div>