// Themes //
.is-link,
.has-background-link {
	background-color: $normal_blue_color !important;
}
.has-text-link {
	color: $normal_blue_color !important;
}
.is-link a:hover,
.is-link a:focus {
	background-color: $darken_blue_color !important;
}
.has-text-info {
	color: $lighten_blue_color !important;
	&:hover,
	&:focus {
		color: $normal_blue_color !important;
	}
}
.has-background-info {
	background-color: $lighten_blue_color !important;
}
.has-green-text {
	color: $normal_green_color;
}
.has-green-text-light {
	color: $lighten_green_color;
}
.has-green-text-dark {
	color: $darken_green_color;
}
a.has-text-info:hover,
a.has-text-info:focus {
	color: $normal_blue_color !important;
}
.active {
	background-color: $darken_blue_color;
	color: #fff;
}
.font-weight-bolder {
	font-weight: 900 !important;
}
.title {
	font-weight: 900;
	@media screen and (max-width: 768px) {
		text-align: center;
	}
}
.btn__help {
	letter-spacing: 0.1rem;
	font-weight: 600;
}
.donar {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1rem;
}
.responsive-img {
	@media screen and (max-width: 768px) {
		padding-top: 80% !important;
	}
}
.objective-icon {
	opacity: 0.8;
	font-size: 2.5rem;
	margin-right: 1rem;
}
.zoom {
	transition: ease 0.5s !important;
	&:hover {
		transform: scale(1.2) !important;
	}
}
.no-zoom:hover {
	transform: scale(1) !important;
}
