<footer class="footer has-background-link" style="margin-top: 2rem; position: relative;">
	<div class="columns content">
		<div class="column is-4 is-flex column-lang">
			<img src="https://image.flaticon.com/icons/svg/206/206600.svg" class="image is-128x128 image-lang" alt="Bandera de México"/>
		</div>
		<div class="column is-4">
			<h3 class="footer__title is-size-5 has-text-white font-weight-bolder">
				<i class="far fa-clock" style="margin-right: 5px;"></i>
				Horarios
			</h3>
			<p class="footer__text is-size-5 has-text-weight-semibold has-text-white">
				Lunes - Sabado
			</p>
			<p class="footer__text is-size-5 has-text-weight-semibold has-text-white">
				09:00 AM - 06:00 PM
			</p>
		</div>
		<div class="column is-4">
			<h3 class="footer__title has-text-white is-size-5 font-weight-bolder">
				<i class="fas fa-map-marker-alt" style="margin-right: 5px;"></i>
				Dirección
			</h3>
			<p class="footer__text has-text-weight-semibold has-text-white is-size-5">
				Amores 1040 Col. del valle
			</p>
			<p class="footer__text has-text-weight-semibold has-text-white is-size-5">
				Centro, cerca del Div. del norte
			</p>
		</div>
	</div>
	<p class="footer__title has-text-centered is-size-5 has-text-weight-semibold has-text-white footer-tel">
		<i class="fas fa-phone-alt" style="margin-right: 5px;"></i>
		<span class="font-weight-bolder">
			Tel:
		</span>
		(55) 88 48 06 41 / 55-1444-6432.
	</p>
</footer>
